[Unit]
Description=Cloudsdale Leaderbaord
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
# HostName=cloudsdale-leaderboard
NetworkAlias=cloudsdale-leaderboard
Image=baltimare-leaderboard.build
# AutoUpdate=registry

Pod=baltimare-leaderboard.pod

Volume=../data.d/cloudsdale.db:/data.db

EnvironmentFile=cloudsdale.env
Environment=AREA=cloudsdale
Environment=DATABASE_PATH=/data.db

Label=traefik.enable=true

Label=traefik.http.routers.cloudsdale-leaderboard.rule=Host(`cloudsdale.hotmilk.space`)
Label=traefik.http.routers.cloudsdale-leaderboard.entrypoints=websecure
Label=traefik.http.routers.cloudsdale-leaderboard.service=cloudsdale-leaderboard

Label="traefik.http.routers.cloudsdale-leaderboard-tor.rule=\
Host(`cloudsdale.hotmilkdyzrzsig55s373ruuedebeexwcgbipaemyjqnhd5wfmngjvqd.onion`)"
Label=traefik.http.routers.cloudsdale-leaderboard-tor.entrypoints=webtor
Label=traefik.http.routers.cloudsdale-leaderboard-tor.service=cloudsdale-leaderboard

Label=traefik.http.services.cloudsdale-leaderboard.loadbalancer.server.port=8080
Label=traefik.docker.network=traefik

Label=homepage.group=Fun
Label="homepage.name=Cloudsdale Leaderboard"
Label=homepage.icon=https://cloudsdale.hotmilk.space/favicon.ico
Label=homepage.href=https://cloudsdale.hotmilk.space

Network=traefik
